<div class="container">
  <div class="col-md-2 col-md-offset-12">
    <%= link_to "Back",  hospitals_path, class: "btn btn-success" %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1> Baby Height And weight Chart</h1>
    </div>
  </div>
  <br>
  <div class="row index-container">
    <div class="col-md-12 ">
      <%= chartjs_line_chart(@data,{title: {display:true, position: "bottom", text: "Age in Month"}, scales: {xAxes: [{gridLines: {display:true}}], yAxes: [{scaleLabel: {display: true,labelString: 'Height in cm'},gridLines: {display:true}, ticks: {beginAtZero:true}}]}, maintainAspectRatio: false, height: 500}) %>
    </div>
   </div>   
  <div class="row index-container">
    <div class="col-md-12 ">
      <%= chartjs_line_chart(@weight_data,{title: {display:true, position: "bottom", text: "Age in Month"}, scales: {xAxes: [{gridLines: {display:true}}], yAxes: [{scaleLabel: {display: true,labelString: 'Weight in ounce'},gridLines: {display:true}, ticks: {beginAtZero:true}}]}, maintainAspectRatio: false, height: 500}) %>
    </div>
   </div>         
</div>



