<div class="container i-box">
  <div class="row">
    <div class="col-md-2 col-md-offset-12">
      <%= link_to "Hospital List",  hospitals_path, class: "btn btn-success" %>
    </div>
  </div>
    <div class="container loginmodal-container">
      <h1>Register For New Hospital</h1>
        <%= render 'form' %>
    </div>
</div>



 