<div class="container i-box">
  <div class="row">
   <div class="col-md-2 col-md-offset-12">
      <%= link_to "Hospital List",  hospitals_path, class: "btn btn-success" %>
    </div>
    <div class="col-md-7 col-md-offset-3">
      <h1>New Hospital</h1>
    </div>
    
    <%= render 'form' %>
</div>