<div class="pull-right">
  <%= link_to "Hospital List",  hospitals_path, class: "btn btn-success" %>
</div>
<br>
	<div class="container">
	   <div class="container loginmodal-container">
	    <h1>Register For New Hospital</h1>
	      <%= render 'form' %>
	    </div>
	</div>



 