%p
  Hello
%p 
  You have been requested to vaccinations your baby '#{@baby.full_name}' on Child-Health-Care
%p
  Child-Health-Care is a place which helps Growth and Health Development your baby.
%p
  Please visit

%br
Thanks,
%br
Child-Health-Care Team 