<!--Footer-->
<footer class="page-footer center-on-small-only stylish-color-dark">
  <div class="container">
    <div class="row"></div>
  </div>
  <hr>
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 Copyright: <a href="<%= root_url %>"> MDBootstrap.com </a>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
